body {
    background-color: white;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy, cursive;
}

.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: box-shadow 0.5s;

		}