body {
    background-color: white;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy, cursive;
}

.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: box-shadow 0.5s;

		}

.column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
}

/* extra positioning */
.thumbnail {
  display: flex;
  flex-direction: column;
}

.thumbnail .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
