{% extends "auctions/layout.html" %}

{% block title %} {{listing.title}} {% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail text-center">
      			<img src="{{listing.image}}">
                <h4 class="text-danger">{{listing.title}}</h4>
                <p>{{listing.description}}</p>
                <p>Seller: <strong>{{listing.seller}}</strong></p>
                <p>Category: <strong>{{listing.category}}</strong></p>
                <p>Starting price: <strong>{{listing.start_bid}}$</strong></p>
                <p>Current price: <strong>{{listing.current_price}}$</strong> <a href="{% url 'view_bids' listing.id %}"> [ Bids ] </a> </p>
                <hr class="line">
                <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <a href="{% url 'add_to_wishlist' listing.id %}">
                                 <button type="button" class="btn btn-primary" onclick="btn btn-danger">Add To Wishlist</button>
                            </a>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <a href="{% url 'new_bid' listing.id %}">
                            <button class="btn btn-danger right" >BID NOW</button>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="thumbnail text-center">
                <h4>Comments:</h4>
                {% if not listing.listing_comments.all %}
                    <a href="{% url 'new_comment' listing.id %}">Add a comment</a
                {% else %}
                    <a href="{% url 'new_comment' listing.id %}">Add a comment</a>
                    <br>
                    {% for comment in listing.listing_comments.all %}
                        <strong>
                            {{comment.user}} -
                            {{comment.date_added}}
                        </strong>
                        <br>
                        {{comment.body}}
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

{% endblock %}