{% extends "auctions/layout.html" %}
{% block title %}Users Wishlist {% endblock %}
{% block body %}
<div class="col-12 mx-auto">
    <h1 class="h3">My Wishlist</h1>
    {% if wishlist %}
         {% for listing in listings %}
                    <div class="card-mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <a href="{% url 'listing_details' listing.id %}">
                                <img src="{{ listing.image }}" class="img-responsive" >
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">{{listing.title}}</h5>
                                    <p class="card-text"> {{listing.description}}</p>
                                    <p class="card-text"><small class="text-muted">{{listing.start_bid}}$</small></p>
                                    <a href="{% url 'add_to_wishlist' listing.id %}">
                                        <button type="button" class="btn btn-danger">Remove From Wishlist</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
    {% else %}
        <p class="card-text">No products have been added to your wishlist yet</p>
    {% endif %}
</div>
{% endblock %}
